.gamingDashboard {
  padding: 30px 20px 40px 30px;
  width: calc(100vw - 50px);
  background-color: rgb(0,19,44);
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "worldMap radar"
    "worldMap radar"
    "worldMap location"
    "levels levels"
    "levels levels";
  column-gap: 10px;
  row-gap: 10px;
}

.worldMap, .radar, .location, .levels {
  border: 2px solid rgb(32, 93, 123);
}

.worldMap {
  grid-area: worldMap;
}
 
.radar {
  grid-area: radar;
}

.location {
  grid-area: location;
}

.levels {
  grid-area: levels;
}